    *{box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:sans-serif;

    }

body{
    background: rgb(24, 24, 24);
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: rgb(205, 220, 233);
    border-radius: 14px;
    margin: 14x;
    max-width: 600px;
    width: 100% ;
    box-sizing: 0 3px 5px rgb(255, 63, 63);
    overflow:hidden;

}

.header{
   background: linear-gradient( 
90deg,rgb(149, 149, 202) 0%, rgb(45, 6, 134) 100%);
padding: 24px;
text-align: center;
color: white;
}

.formulario{
    padding: 18px;

}

.cont-form{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.cont-form label{
    display: inline-block;
    margin-bottom: 4px;

}

.cont-form input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #ffffff;
}
.cont-form a{
position: absolute;
bottom: -8px;
left: 0;
visibility:hidden;



}
.formulario button{
    background-color: rgb(141, 141, 202);
    color:white;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}
    .cont-form.error input{
        border-color: red;

    }

    .cont-form.error a{
        color:red;
        visibility: visible;
    }
